{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
    <body background:rgb(184, 6, 8)>
        <div class="background-image">
            <h1 style="font-size: 60px; color:rgb(56, 5, 1); text-align:center;">
                MCU Fan Quiz!
            </h1>
        </div>
    </body>
    <style>
        * {
            margin:0;
            padding:0;
        }

        .background-image {
            background-image: url('https://images5.alphacoders.com/668/668667.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height:100vh;
        }
    </style>
{% endblock %}